Repository lateef10/InfyShopMicroservice: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/couponapi-pipeline.yml, Pipelines/web-pipeline.yml

Path conditions:
  Pipelines/couponapi-pipeline.yml: any of: InfyShop.CouponAPI, AzureKubernetes/couponapi.yml
  Pipelines/web-pipeline.yml: any of: InfShop.Web, AzureKubernetes/web.yml

remove **/Dockerfile* from .dockerignore
  .dockerignore
Due: none

remove **/*.*proj.user
  .dockerignore
Due: none

edit buildContext
  Pipelines/web-pipeline.yml
Due: none

edit buildcontext in coupon-pipeline
  Pipelines/couponapi-pipeline.yml
Due: none

gateway-pipeline
  AzureKubernetes/couponapi.yml
  AzureKubernetes/gateway.yml
  AzureKubernetes/identityserver.yml
  AzureKubernetes/orderapi.yml
  AzureKubernetes/paymentapi.yml
  AzureKubernetes/productapi.yml
  AzureKubernetes/shoppingcartapi.yml
  CleanArchitecture.sln
  Pipelines/gateway-pipeline.yml
Due: Pipelines/couponapi-pipeline.yml

Update README.md
  README.md
Due: none

identity server pipeline
  CleanArchitecture.sln
  Pipelines/identityserver-pipeline .yml
Due: none

Order API Pipeline
  CleanArchitecture.sln
  Pipelines/orderapi-pipeline.yml
Due: none

Payment API Pipeline
  CleanArchitecture.sln
  Pipelines/paymentapi-pipeline.yml
Due: none

Product API Pipelinne
  CleanArchitecture.sln
  Pipelines/productapi-pipeline.yml
Due: none

Shopping Cart Pipeline
  AzureKubernetes/shoppingcartapi.yml
  CleanArchitecture.sln
  Pipelines/shoppingcartapi-pipeline.yml
Due: none

service bus connection string update
  AzureKubernetes/couponapi.yml
  AzureKubernetes/gateway.yml
  AzureKubernetes/identityserver.yml
  AzureKubernetes/orderapi.yml
  AzureKubernetes/paymentapi.yml
  AzureKubernetes/productapi.yml
  AzureKubernetes/shoppingcartapi.yml
  AzureKubernetes/web.yml
  InfyShop.OrderAPI/Common/Constants.cs
  InfyShop.OrderAPI/Messaging/AzureServiceBusConsumer.cs
  InfyShop.OrderAPI/appsettings.json
  InfyShop.PaymentAPI/Messaging/AzureServiceBusConsumer.cs
  InfyShop.PaymentAPI/appsettings.json
Due: Pipelines/couponapi-pipeline.yml, Pipelines/web-pipeline.yml

k8s yaml update
  AzureKubernetes/couponapi.yml
  AzureKubernetes/gateway.yml
  AzureKubernetes/identityserver.yml
  AzureKubernetes/orderapi.yml
  AzureKubernetes/paymentapi.yml
  AzureKubernetes/productapi.yml
  AzureKubernetes/shoppingcartapi.yml
  AzureKubernetes/web.yml
Due: Pipelines/couponapi-pipeline.yml, Pipelines/web-pipeline.yml

fixed launchsetting launch url
  InfyShop.CouponAPI/Properties/launchSettings.json
  InfyShop.Identity/Properties/launchSettings.json
  InfyShop.ProductAPI/Properties/launchSettings.json
Due: Pipelines/couponapi-pipeline.yml

fixed lauch settings issues
  InfyShop.Identity/Properties/launchSettings.json
  InfyShop.OrderAPI/Properties/launchSettings.json
  InfyShop.PaymentAPI/Properties/launchSettings.json
  InfyShop.ShoppingCartAPI/Properties/launchSettings.json
Due: none

Update couponapi-pipeline.yml for Azure Pipelines
  Pipelines/couponapi-pipeline.yml
Due: none

update couponapi yml
  AzureKubernetes/couponapi.yml
Due: Pipelines/couponapi-pipeline.yml

update container name
  AzureKubernetes/couponapi.yml
Due: Pipelines/couponapi-pipeline.yml

Update couponapi-pipeline.yml to only push image to ACR
  Pipelines/couponapi-pipeline.yml
Due: none

increased coupon api replicas to 2
  AzureKubernetes/couponapi.yml
Due: Pipelines/couponapi-pipeline.yml

change coupon api service to loadbalancer for public access
  AzureKubernetes/couponapi.yml
Due: Pipelines/couponapi-pipeline.yml

update replica
  AzureKubernetes/couponapi.yml
Due: Pipelines/couponapi-pipeline.yml

fix
  InfyShop.CouponAPI/DbContexts/MigrationManager.cs
  InfyShop.CouponAPI/Properties/launchSettings.json
  InfyShop.OrderAPI/Properties/launchSettings.json
  InfyShop.PaymentAPI/Properties/launchSettings.json
  InfyShop.ProductAPI/Properties/launchSettings.json
  InfyShop.ShoppingCartAPI/Properties/launchSettings.json
Due: Pipelines/couponapi-pipeline.yml

Set up CI with Azure Pipelines
  manifests/deployment.yml
Due: none

Set up CI with Azure Pipelines
  Pipelines/mssql-pipelines.yml
Due: none

Set up CI with Azure Pipelines
  manifests/service.yml
Due: none

Update mssql-pipelines.yml for Azure Pipelines
  Pipelines/mssql-pipelines.yml
Due: none
